* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
}
body {
  background-color: lightblue;
}
.row {
  width: 70%;
  background-color: #fff;
  margin: 5rem auto;
  display: flex;
  padding: 5rem 4rem;
  border-radius: 1.5rem;
  background: linear-gradient(
    135deg,
    #1deffe,
    rgba(255, 255, 255, 0.5),
    #f5f589
  );
}
.row .box {
  width: 50%;
  padding: 1rem 2rem;
}
.row .box img {
  display: block;
  width: 75%;
}
.row .box h3 {
  margin-top: 2rem;
}

.row .box h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.row .box p {
  font-size: 0.9rem;
}
.row .box p b {
  display: block;
  margin-bottom: 3rem;
}
.input-group {
  border: 1px solid #fff;
  margin-bottom: 1.5rem;
}
.input-group input {
  width: 100%;
  background: none;
  border: none;
  font-size: 1.5rem;
  padding: 0.5rem;
}
