* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
}
body {
  background-color: #aeedae;
}
.row {
  background-color: #fff;
  width: 70%;
  margin: 3rem auto;
  display: flex;
  border-radius: 1rem;
  background: linear-gradient(
    135deg,
    rgb(34, 239, 242),
    rgba(255, 255, 255, 0.5),
    rgb(251, 179, 73)
  );
  padding: 5rem 4rem;
}
.row .box {
  width: 50%;
}
.row .box img {
  width: 80%;
}
.row .box h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.row .box p {
  font-size: 0.9rem;
}
.row .box p b {
  display: block;
  margin-bottom: 2rem;
}
